.wrapper {
  padding-left: 18px;
  padding-right: 18px;
  max-width: 1236px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  &--medium {
    max-width: 976px;
  }

  &--narrow {
    max-width: 500px;
  }

  &--no-pad-until-med{
    padding-left: 0;
    padding-right: 0;
    @mixin atMedium {
      padding-left: 18px;
      padding-right: 18px;
    }
  }

  &--no-pad-until-sm{
    padding-left: 0;
    padding-right: 0;
    @mixin atSmall {
      padding-left: 18px;
      padding-right: 18px;
    }
  }

  .wrapper {
    padding-left: 0;
    padding-right: 0;
  } /* renders as .wrapper.wrapper */

  &--b-margin {
    margin-bottom: 1rem;

    @mixin atSmall {
      margin-bottom: 3.875rem;
    } /*end mixin */

  }


} /*end wrapper */
